@media (min-width: 1421px) {
  
    .mg-terminal h1{ 
      font-size: 4rem; 
      }
} 

@media (min-width: 1024px) and (max-width: 1420px) {
 
}

@media (min-width: 992px) {
  .mg-terminal{ 
    height: 40vh; 
} 
    .mg-about{ 
      height: 40vh; 
  } 
  footer  .page-link  ul{
    display: flex;
    justify-content: space-evenly;
  }
  .bar-menu-icons .dropdown-menu {
    width: 72vw;
  }

  .bar-menu-icons .dropdown-menu[data-bs-popper] {
    right: -100% !important;
    left: auto !important;
  }
  .mega-menu  .dropdown-menu {
    width: 90vw;
  }

  .mega-menu .dropdown-menu[data-bs-popper] {
    right: 0% !important;
    left: auto !important;
  }
}

@media (max-width: 1024px) {
  .copyright {
    text-align: center;
  }
  .mg-terminal{ 
    height: 30vh; 
} 
.mg-about{ 
   height: 50vh; 
} 

  footer .social-links ul {
    justify-content: center;
  }

  .left-navbar .navbar-nav {
    flex-direction: row !important;
  }

}

@media (max-width: 991px) and (min-width:680px) {

  .bar-menu-icons .dropdown-menu {
    width: 72vw;
  } 
  .bar-menu-icons .dropdown-menu[data-bs-popper] {
    right: 0% !important;
    left: auto !important;
  } 
  .mega-menu .dropdown-menu {
    width: 72vw;
  } 
  .mega-menu .dropdown-menu[data-bs-popper] {
    right: 0% !important;
    left: auto !important;
  }
}
@media (max-width: 640px) {
  .pagenews-dive .row {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 679px) {
 
  .subrundata-div p {
    font-size: .7rem;
  }
  .mg-terminal{ 
     height: 30vh; 
 } 
  .bar-menu-icons .dropdown-menu {
    width: 90vw;
    background-color: var(--beige-600, #dcd5c5);
  }

  .bar-menu-icons .dropdown-menu[data-bs-popper] {
    right: -24% !important;
    left: auto !important;
  }
  .mega-menu .dropdown-menu {
    width: 90vw;
    background-color: var(--beige-600, #dcd5c5);
  } 
  .mega-menu .dropdown-menu[data-bs-popper] {
    right: -9% !important;
    left: auto !important;
  }

  .left-navbar .navbar-nav {
    flex-direction: row !important;
    padding-left: 5px;
  }

}

@media (max-width: 375px) {
  header .navbar-nav .nav-item .nav-link {
    font-size: 12px;
  }
}